<div class="container">
  <div class="col-sm-10 col-sm-offset-1 mx-auto">
    <div class="row">
      <div class="col-sm-8">
        <div class="card-left mt-3">
          <%= image_tag @post.photos.first.image.url(:medium), class: "card-img-top" %>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card-right mt-3">
          <div class="post-title text-center"><h3><%= @post.caption %></h3></div>

          <% if user_signed_in? %>
            <div class="row">
              <div id="like-icon-<%= @post.id.to_s %>">
                <% if @post.liked_by(current_user).present? %>
                  <%= link_to "お気に入り", post_like_path(@post.id, @post.liked_by(current_user)), method: :DELETE, remote: true, class: "btn btn-danger ml-3" %>
                <% else %>
                  <%= link_to "お気に入り", post_likes_path(@post), method: :POST, remote: true, class: "btn btn-light ml-3" %>
                <% end %>
              </div>

              <% if @post.user_id == current_user.id %>
                <%= link_to post_path(@post), method: :delete, class: "btn btn-dark ml-2" do %>
                <div>画像削除</div>
                <% end %>
              <% end %>
            </div>
          <% end %>
          <hr>

          <h5 class="text-center m-3">投稿ユーザー</h5>
          <div class="text-center post-user">
            <% if @user.image? %>
              <%= image_tag @user.image.thumb.url, class: "round-img" %>
            <% else %>
              <%= image_tag "/assets/default.jpg", class: "round-img" %>
            <% end %>
          <br>
            <div class="m-3">
              <%= link_to user_path(@post.user), class: "black-color no-text-decoration post-user-name", title: @post.user.name do %>
                <h4><strong><%= @post.user.name %></strong></h4>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
